@import "tailwindcss";
.orbit-delay-5 {
  animation: orbit 20s linear infinite -5s;
}
.orbit-delay-10 {
  animation: orbit 20s linear infinite -10s;
}
.orbit-delay-15 {
  animation: orbit 20s linear infinite -15s;
}
.orbit-delay-20 {
  animation: orbit 20s linear infinite -20s;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(150px) rotate(360deg);
  }
}
